@model StayFit.Web.ViewModels.Exercises.ExerciseInputModel
@{
    this.ViewData["Title"] = "Create Workout";
    var exercises = this.Model.Exercises.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<table id="tblExercises" class="table table-responsive">
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Weight</th>
            <th></th>
        </tr>
    </thead>
    <tbody> </tbody>
    <tfoot>
        <tr>
            <td>
                <div class="col-md-12 from-group">
                    <select asp-for="@Model.Name" class="form-control" asp-items="@exercises" id="txtexercise">
                        <option hidden="hidden">All</option>
                    </select>
                    <span asp-validation-for="@Model.Name" class=" text-danger"></span>
                </div>
            </td>
            <td>
                <input asp-for="@Model.Reps" id="txtreps" class="form-control" />
                <span asp-validation-for="@Model.Reps" class=" text-danger"></span>
            </td>
            <td>
                <input asp-for="@Model.Sets" id="txtsets" class="form-control" />
                <span asp-validation-for="@Model.Sets" class=" text-danger"></span>
            </td>
            <td>

                <input asp-for="@Model.Weight" id="txtweight" class="form-control" />
                <span asp-validation-for="@Model.Weight" class=" text-danger"></span>
            </td>
            <td><input type="button" id="btnAdd" class="btn btn-success" value="Add" /></td>
        </tr>
    </tfoot>
</table>
<br />
<form method="post" id="antiForgeryForm">
    <input type="button" id="btnSave" value="Save All" class="btn btn-success btn-lg btn-block" />
</form>

<!--<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>-->
        @*@foreach (var exercise in Model)
            {
            <tr>
                <td>@exercise.Name</td>

                <td>@exercise.BodyPart</td>*@

        @*
            <td><input type="button" value="Remove" class="btn btn-danger btn-sm" onclick="Remove(this)" /></td>*@
        @*
            </tr>*@
    <!--</tbody>
</table>-->
