@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using StayFit.Data.Models.Enums

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label asp-for="Input.Weight"></label>
                        <input asp-for="Input.Weight" class="form-control" />
                        <span asp-validation-for="Input.Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Height"></label>
                        <input asp-for="Input.Height" class="form-control" />
                        <span asp-validation-for="Input.Height" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Gender"></label>
                        <select asp-for="Input.Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()">
                            <option hidden="hidden"> Choose your gender</option>
                        </select>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-row mb-3 text-left">
                            <div class="col-3">
                                <label asp-for="Input.Day"></label>
                                <input asp-for="Input.Day" type="number" class="form-control" />
                                <span asp-validation-for="Input.Day" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Input.Month"></label>
                                <select asp-for="Input.Month" class="form-control" asp-items="@Html.GetEnumSelectList<Month>()">
                                    <option hidden="hidden"> </option>
                                </select>
                                <span asp-validation-for="Input.Month" class="text-danger"></span>
                            </div>
                            <div class="col-3">
                                <label asp-for="Input.Year"></label>
                                <input asp-for="Input.Year" type="number" class="form-control" />
                                <span asp-validation-for="Input.Year" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ActivityLevel"></label>
                        <select asp-for="Input.ActivityLevel" class="form-control" asp-items="@Html.GetEnumSelectList<ActivityLevel>()">
                            <option hidden="hidden"> Choose Activity Level</option>
                        </select>
                        <span asp-validation-for="Input.ActivityLevel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
