@model StayFit.Web.ViewModels.Meals.MealDetailsViewModel
@{
    this.ViewData["Title"] = "Meal Details";

    async Task DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            string one = "7f30eefe5c51e1ae0939dab2051db75f";
            string two = "514bf9dd84e9f3785a7db504543ba22e";

            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 ">
                            <div class="card-header">
                                <div class="d-flex flex-column comment-section" id="myGroup">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info">
                                            <img class="rounded-circle" src="@comment.UserImage" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@comment.UserFirstName @comment.UserLastName</span><span class="date text-black-50">Shared publicly - <time datetime="@comment.CreatedOn.ToString("O")"></time></span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text">@Html.Raw(comment.SanitizedContent)</p>
                                        </div>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="bg-white p-2">
                                            <div class="d-flex flex-row fs-12">
                                                <form method="post">
                                                    <div class="like p-2 cursor">
                                                        <a @*onclick="like(@comment.Id)"*@>
                                                            <i class="far fa-thumbs-up" data-i-holder="@comment.Id" onclick="like(@comment.Id)" id="likesCount">@comment.CommentLikes</i><span class="ml-1">Like</span>
                                                        </a>
                                                    </div>
                                                </form>
                                                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-@(comment.Id + one)" href="#collapse-@(comment.Id + one)" onclick="pushParentId(@comment.Id)"><i class="far fa-comment-dots"></i><span class="ml-1">Comment</span></div>
                                                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-@(comment.Id + two)" href="#collapse-@(comment.Id + two)"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                            </div>
                                        </div>
                                        <div id="collapse-@(comment.Id + one)" class="bg-light p-2 collapse" data-parent="#myGroup">
                                            <div class="d-flex flex-row align-items-start">
                                                <img class="rounded-circle mr-2" src="@Model.CurrentUser.ImageUrl" width="40">
                                                <form asp-controller="Comments" asp-action="Create" method="post" id="AddParentId">
                                                    <input type="hidden" name="ParentId" value="0" />
                                                    <input type="hidden" name="MealId" value="@this.Model.Id" />
                                                    <div>
                                                        <label for="Content" id="elementtoScrollToID"></label>
                                                        <textarea name="Content" id="Content" class="form-control edit-with-tinymce"></textarea>
                                                    </div>
                                                    <div class="mt-2 text-right">
                                                        <input type="submit" class="btn btn-outline-success btn-sm" name="name" value="Reply" />
                                                        <button class="btn btn-outline-danger btn-sm ml-1 shadow-none" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-@(comment.Id + one)" href="#collapse-@(comment.Id + one)" type="button">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="collapse-@(comment.Id + two)" class="bg-light p-2 collapse" data-parent="#myGroup">
                                            <div class="d-flex flex-row align-items-start"><i class="fab fa-facebook-f border p-3 rounded mr-1"></i><i class="fab fa-twitter border p-3 rounded mr-1"></i><i class="fab fa-linkedin border p-3 rounded mr-1"></i><i class="fab fa-instagram border p-3 rounded mr-1"></i><i class="fab fa-dribbble border p-3 rounded mr-1"></i> <i class="fab fa-pinterest-p border p-3 rounded mr-1"></i> </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                @{ await DisplayComments(comment.Id); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<h3> @Model.CategoryName <i class="fas fa-greater-than"></i>  @Model.SubCategoryName</h3>

<div class="container">
    <div class="row rounded" style="background-color: #f0f0f0">
        <div class="col-sm-4">
            <img src="@Model.ImageUrl" class="img-fluid m-2 mt-4" alt="..." @*width="200"*@>
            <div class="form-row m-2">
                <div class="col-md-4">
                    <i class="fas fa-calendar-alt">
                        @Model.CreatedOn.ToShortDateString()
                    </i>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-8">
                        <ul class="item-rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= Model.AverageVote)
                                {
                                    <li class="star star-fill" data-vote="@i"><i class="fas fa-star"></i></li>
                                }
                                else
                                {
                                    <li class="star star-empty" data-vote="@i"><i class="fas fa-star"></i></li>
                                }
                            }
                            <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm">
            <div class="form-row m-4">
                <h3>@Model.Name</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col float-right">
                        <form method="post" asp-action="SendToEmail" asp-route-id="@Model.Id">
                            <button class="btn btn-warning">Send to my email</button>
                        </form>
                    </div>
                }
            </div>
            <div class="form-row">
                <ul style="list-style-type: none;">
                    <li>
                        <i class="fas fa-user fa-lg"></i>
                        <strong> By </strong>
                        @if (string.IsNullOrWhiteSpace(Model.AddedByUserUserName))
                        {
                            <a href="https://www.bbcgoodfood.com/" target="_blank">www.bbcgoodfood.com</a>
                        }
                        else
                        {
                            <label class="mb-3">@Model.AddedByUserUserName</label>
                        }
                    </li>
                </ul>
            </div>
            <div class="form-row">
                <div class="col-md-5">
                    <ul style="list-style-type: none;">
                        <li>
                            <i class="fa fa-clock fa-lg" style="color:darkcyan"></i>
                        </li>
                        <li>
                            <strong>Prep Time: </strong>@Model.PreparationTime
                        </li>
                        <li>
                            <strong>Cook Time: </strong>@Model.CookingTime
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul style="list-style-type: none;">
                        <li>
                            <i class="fas fa-mortar-pestle fa-lg" style="color:darkcyan"></i>
                        </li>
                        <li>
                            <strong>@Model.SkillLevel</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul style="list-style-type: none;">
                        <li>
                            <i class="fas fa-utensils fa-lg" style="color:darkcyan"></i>
                        </li>
                        <li>
                            <strong> @Model.PortionCount </strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-row">
                <p>@Model.SanitizedDescription</p>
            </div>
            <div class="form-row">
                <strong>Nutrition: per serving</strong>
            </div>
            <div class="form-row">
                <div class="col-md-10">
                    <table class="table table-responsive text-center table-borderless" style="background-color:rgba(114,174,178,.25);" @*style="padding: 50px;"*@>
                        <thead>
                            <tr>
                                <th class="" scope="col">Calories</th>
                                <th class="" scope="col">Protein</th>
                                <th class="" scope="col">Carbs</th>
                                <th class="" scope="col">Fat</th>
                                <th class="" scope="col">Saturates</th>
                                <th class="" scope="col">Sugars</th>
                                <th class="" scope="col">Fibre</th>
                                <th class="" scope="col">Salt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">@Model.KCal<text>kcal</text></th>
                                <td scope="row">@Model.Protein<text>g</text></td>
                                <td scope="row">@Model.Carbs<text>g</text></td>
                                <td scope="row">@Model.Fat<text>g</text></td>
                                <td scope="row">@Model.Saturates<text>g</text></td>
                                <td scope="row">@Model.Sugars<text>g</text></td>
                                <td scope="row">@Model.Fibre<text>g</text></td>
                                <td scope="row">@Model.Salt<text>g</text></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h3>Ingredients</h3>
            @foreach (var item in Model.Ingredients)
            {
                <p>@item.IngredientNameAndQuantity</p>
            }
        </div>
        <div class="col-md-6">
            <h3>Method of preparation</h3>
            <p>@Html.Raw(Model.SanitizedMethodOfPreparation)</p>
        </div>
    </div>
    <form method="post" id="antiForgeryForm"></form>
</div>
<div>
    @if (Model.Comments.Any())
    {
        <button class="btn btn-warning btn-lg" onclick="showAddCommentForm()">Comment</button>
    }
</div>

<div>
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentFrom" style="display:none">
        <input type="hidden" name="MealId" value="@this.Model.Id" />
        <div>
            <label for="Content"></label>
            <textarea name="Content" id="Content" class="form-control edit-with-tinymce"></textarea>
        </div>
        <div class="mt-2">
            <input type="submit" class="btn btn-success" name="name" value="Add comment" />
        </div>
    </form>
</div>

<div class="container mt-5">
    @if (!Model.Comments.Any())
    {
        <div class="text-center">
            <h4 class="font-weight-light">There are no comments yet</h4>
            <button class="btn btn-warning btn-lg" onclick="showAddCommentForm()">Comment</button>
        </div>
    }
    else
    {
        { await DisplayComments(null); }
    }

</div>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.edit-with-tinymce",
        relative_urls: false,
        remove_script_host: false,
        convert_urls: true,
        plugins: [
            "image paste table link code media fullscreen wordcount searchreplace lists"
        ]
    });
</script>

@section Scripts {
    <script>
        function pushParentId(parentId) {
            console.log(parentId);
            $("#AddParentId input[name='ParentId']").val(parentId);

            //$([document.documentElement, document.body]).animate({
            //    scrollTop: $("#AddCommentFrom").offset().top
            //}, 2000);
        }

        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var mealId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { mealId: mealId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {

                        $('#averageVoteValue').html(data.averageVote.toFixed(1));

                        var stars = Array.from($(".fa-star"));
                        for (var i = 0; i < stars.length; i++) {

                            if (i < Math.floor(data.averageVote)) {
                                stars[i].parentNode.classList.remove('star-empty');
                                stars[i].parentNode.classList.add('star-fill');
                            } else {
                                stars[i].parentNode.classList.remove('star-fill');
                                stars[i].parentNode.classList.add('star-empty');
                            }
                        }
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
