@model StayFit.Web.ViewModels.Meals.MealListViewModel
@{
    this.ViewData["Title"] = "Search Results";
}

<h1>@this.ViewData["Title"]</h1>

<div class="row">
    @foreach (var meal in Model.Meals)
    {
        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <a asp-action="MealDetails" asp-route-id="@meal.Id">
                        <img class="img-top img-fluid rounded" src="@meal.ImageUrl" alt="Card image cap">
                    </a>
                    <h6 class="card-title row-cols-6 text-truncate"><a asp-action="MealDetails" asp-route-id="@meal.Id">@meal.Name</a></h6>
                    <div class="table-responsive">
                        <table class="table text-center table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Calories</th>
                                    <th scope="col">Protein</th>
                                    <th scope="col">Carbs</th>
                                    <th scope="col">Fat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">@meal.KCal<text>kcal</text></th>
                                    <td scope="row">@meal.Protein<text>g</text></td>
                                    <td scope="row">@meal.Carbs<text>g</text></td>
                                    <td scope="row">@meal.Fat<text>g</text></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a data-id="@meal.Id" class="select-Quantity btn btn-primary text-sm-right float-right" data-toggle="modal" data-target="#modalQuantity">Add to Diary</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_MealsSearchPaginPartial" model="@Model" />

<form asp-controller="Diaries" asp-action="Add" method="get">
    <div class="modal fade" id="modalQuantity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to Your Diary</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="mealId" id="mealId" value="" />
                </div>
                <div class="row-cols-2 form-group offset-1">
                    <label for="quantity">Select product quantity</label>
                    <input class="form-control" type="number" step="any" min="0.01" max="100" name="quantity" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add to Diary</button>
                </div>
            </div>
        </div>
    </div>
</form>
