@model StayFit.Web.ViewModels.Diaries.FoodDiaryListViewModel

@{
    this.ViewData["Title"] = "Your Food Diary";
}

<div>
    <form method="get" asp-action="FoodDiary">
        <div class="row">
            <div class="col-md-7 mt-4 form-group">
                <h4>@this.ViewData["Title"] for: <kbd>@Model.CurrentDate.ToString("dddd, MMMM dd, yyyy")</kbd></h4>
            </div>
            <div class="col-md-3 form-group">
                <label for="datasearch">Search for date</label>
                <input type="date" name="date" class="form-control" id="datasearch" placeholder="">
            </div>
            <div class="col-md-2 mt-4 form-group">
                <button class="btn btn-light form-control" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

@{
    var totalCalories = 0.0;
    var totalProtein = 0.0;
    var totalFat = 0.0;
    var totalCarbs = 0.0;
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name and Quantity</th>
                <th scope="col">Calories</th>
                <th scope="col">Protein</th>
                <th scope="col">Carbs</th>
                <th scope="col">Fat</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model.Diary)
            {
                totalCalories += Math.Round(meal.MealKCal * meal.MealQuantity);
                totalProtein += Math.Round(meal.MealProtein * meal.MealQuantity);
                totalCarbs += Math.Round(meal.MealCarbs * meal.MealQuantity);
                totalFat += Math.Round(meal.MealFat * meal.MealQuantity);

                <tr>
                    <th scope="row">@meal.MealName, @(meal.MealQuantity * 100)g</th>
                    <td>@Math.Round(meal.MealKCal * meal.MealQuantity)</td>
                    <td>@Math.Round(meal.MealProtein * meal.MealQuantity)</td>
                    <td>@Math.Round(meal.MealCarbs * meal.MealQuantity)</td>
                    <td>@Math.Round(meal.MealFat * meal.MealQuantity)</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@meal.Id">
                            <i class="fas fa-minus-circle" style="color:red"></i>
                        </a>
                    </td>
                </tr>
            }

            <tr style="background-color:aquamarine">
                <th scope="row">Total:</th>
                <td scope="row">@Math.Round(totalCalories)</td>
                <td scope="row">@Math.Round(totalProtein)</td>
                <td scope="row">@Math.Round(totalCarbs)</td>
                <td scope="row">@Math.Round(totalFat)</td>
            </tr>
            <tr style="background-color:aquamarine">
                <th scope="row">Your Daily Goal:</th>
                <td scope="row">@Math.Round(Model.User.DailyCalories)</td>
                <td scope="row">@Math.Round(Model.User.Protein)</td>
                <td scope="row">@Math.Round(Model.User.Carbs)</td>
                <td scope="row">@Math.Round(Model.User.Fat)</td>
            </tr>
            <tr style="background-color:aquamarine">
                <th scope="row">Remaining:</th>
                <td scope="row">@Math.Round(Model.User.DailyCalories - totalCalories)</td>
                <td scope="row">@Math.Round(Model.User.Protein - totalProtein)</td>
                <td scope="row">@Math.Round(Model.User.Carbs - totalCarbs)</td>
                <td scope="row">@Math.Round(Model.User.Fat - totalFat)</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" asp-controller="Meals" asp-action="All" role="button">Add Food</a>
</div>